/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: aliceblue;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */
.recepty-kategorie,
.recepty-komentare {
    font-size: 0.8rem;
    font-weight: 400;
}

.recept-meta {
    display: flex;
    justify-content: space-between;
}


.hlavni-recept{
    background-image: url("burger.jpg");
    background-position: center;
    background-size: cover;
    min-height: 200px;
    padding: 0.5rem;
    position: relative;
}

.recept-nazev {
    font-size: 1.75rem;
    position: absolute;
    bottom: 0.5em;    
}




/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */
